
.container {display: flex;
           width:1220px;
           height:65px;
           padding-top: 21.5px; 
           margin-left: auto;
           margin-right: auto;
           margin-top: 53px;
           margin-bottom: 21.5px;
           vertical-align: top;
           display: flex;
           justify-content: center;
            }
.list {display: flex;
      vertical-align:top;
      margin-left: 195px;}

.div-image { padding-top: 13.5px;}
.logo {width: 200px;
        height: 38px;
        vertical-align: middle; }
.list-a {
     font-size: 18px;color: #37393F;
     line-height: 21.78px;
     margin-top: 21.5px; }
.home {margin-right:35px;}
.about {margin-right: 35px;}
.services{ margin-left: 35px;
         margin-right: 35px;}
.blog {margin-right: 35px;}

.listtext {font-size: 18px;
        padding-top: 21px;
        padding-left: 35px;
        padding-bottom: 22px;
        padding-right: 35px;
           }
.divtext {display: flex;
         width: 184px;
         height:65px ;
          background-color: #6B77E5;
          color: #FFFFFF;
          font-size: 18px;
          line-height: 21.87px;
          margin-left: 40px;
          vertical-align:top;
          }
.main-block { width: 1220px;
              height:510px;
             
             margin-top: 170px;
             margin-left: auto;
             margin-right: auto;
             position:relative;}
.text-div { width:283px;
           height: 86px;
           background-color: white;
           margin-left: 468.50px;
            margin-top: 160px;}
.title4 {font-size: 18px;
         line-height: 21.78px;
         color: #37393F;
         padding-left: 82px;
         padding-bottom: 16px;
         font-family: 'Inter', sans-serif;}
.title1 { font-size: 40px;
        font-family: 'Poppins', sans-serif;
        line-height: 48.4px;
        text-align:Center; }
.three-block { display: flex;
             width: 1220px;
             height: 383px;
             margin-top: 41px;  
            }
.block1 { width:386px ;
          height:383px ; 
         background-color:#F4F4F4 ;}
.block2  { width:386px ;
          height:383px ; 
          margin-left: 31px;
          margin-right: 31px;
          background-color:#F4F4F4 ;}
.block3    { width:386px ;
           height:383px ; 
           background-color:#F4F4F4 ;}
.block1-text { width: 300px;
              height: 185px;
             margin-top: 58px;
             margin-right: 43px;
             margin-left: 43px;}
.appointtext { font-size: 25px;
              line-height: 31.75px;
              font-family: 'Poppins', sans-serif;
              padding-left:27.50px ;}
.apointtext2 {font-size: 18px;
              line-height: 26.31px;
              color:#7D7D7D ; 
              font-family: 'Inter', sans-serif;
              text-align: center;
              margin-top: 16px;}
.Test  { font-size:18px ;
       line-height: 21.78px;
       color: #6B77E5; 
       font-family: 'Inter', sans-serif;
       margin-top:37px;
       margin-left:94.50px;
       margin-right: auto; }
.fa-calendar {width: 43px;
      height: 43px;
      color: #FFFFFF;
      font-size: 30px;
      padding-top: 21.22px;
      padding-left: 21.22px;
     }
.icons { background-color: #40DDB6;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-top:10px ;
        margin-left: 157px;
        }
.icons-middle {background-color: #6B77E5;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-top:10px ;
        margin-left: 157px;
       }
.consultext
       { font-size: 25px;
       line-height: 31.75px;
       font-family: 'Poppins', sans-serif;
       padding-left:67.50px ;}
.fa-puzzle-piece {width: 43px;
        height: 43px;
        color: #FFFFFF;
        font-size: 30px;
        padding-top: 21.22px;
        padding-left: 21.22px;
          }
.servicetext {font-size: 25px;
            line-height: 31.75px;
            font-family: 'Poppins', sans-serif;
            padding-left:42.50px ;
            margin-top: 58px;}
.Servicediv {width: 300px;
            height: 185px;}
.servicetext2 {font-size: 18px;
          line-height: 26.31px;
          color:#7D7D7D ; 
          font-family: 'Inter', sans-serif;
          text-align: center;
          margin-top: 16px;}
.fa-check { width: 43px;
        height: 43px;
        color: #FFFFFF;
        font-size: 30px;
        padding-top: 21.22px;
        padding-left: 21.22px;}  
.green-div {position: relative;
        width: 1920px;
        height: 557px;
        margin-top: 60px;
           }
.image-green {width: 1920px;
              height: 557px;
              position: absolute; 
            }
.green-text { width: 551px;
             height: 270.50px;
             position: absolute ;
             top: 50%;
             margin-left: 665px;
             transform: translatey(-50%)}
.title3 { font-size: 18px;
          color: #37393F;
          font-family: 'Inter', sans-serif;
          line-height: 21.78px;
          margin-left: 204.50px;}
.presentation-title { font-size: 40px;
                    text-align: center;
                    font-family: 'Poppins', sans-serif;
                    margin-top: 16px; }
.green-block-text { font-size: 18px;
                   font-family: 'Inter', sans-serif;
                   color: #37393F;
                   line-height: 26.31px;
                   text-align: center;
                   margin-top: 21px;
                   }  
.div-absolute    { width: 64.5px;
                   height: 64.5px;
                   background-color:#6B77E5 ;
                   border-radius: 50%;
                   left: 40%;
                   display: flex;
                   justify-content: center;
                   align-items: center;          
                   position: absolute;
                   margin-top: 47px;
                   transform: translatey(-50% ,-50% )
                   }              
.div-relative {color: white;
               font-size: 30px;
               top: 50%;
               left: 50%;
               transform: translate (-50%, -50% )
                }     
.last-div-block { 
            display: flex;
            width: 1220px;
            height: 532px;
            margin-left: 348px;
            margin-right: 352px;
            margin-top: 41px;
            position: relative;
        }   
.last-div1 {  width:386px ;
             height: 532px;
             background-color: #40DDB6;display: inline-block;
             position: relative;
             } 

.first-image { width:386px ;
             height:532px ;
             position: relative;}
.name-position  {position: absolute; top:396px;
        left: 22px;    
        background-color: #FFFFFF;
        width: 341px;
        height: 114px;}    
.position  {font-family: 'Inter', sans-serif;
        font-size: 18px;  color:#7D7D7D;
        margin-top: 4px;
        padding-left: 92px;}
.name {font-size: 25px;
        line-height: 37.5px;
        font-family: 'Poppins', sans-serif;
        padding-left: 69px;
        padding-top: 24px ;}

.last-div-text {width:283px;
         height: 86px;
         background-color: white;
         margin-top: 130px;
         margin-left: 784px; } 
.team {font-size: 18px;   
         margin-left: 132px; }
.experts { font-size: 40px;
           font-family: 'Poppins', sans-serif;
           line-height: 48.4px;
           width: 348px;
            margin-top: 16px; }  
.designer { padding-left: 132.50px; }    

.arrow-sign {font-size: 15px;}

header { position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
background-color: #FFFFFF;}